.pagegap {
    height: 1.3em;
    width: 100%;
    text-align: left;
    border-radius: 4px;
    margin: .3em 0;
    background: rgb(220, 245, 245);
}

.editor:not([movemode]) .pagegap:not(:hover) > * {
    opacity: 10%;
}

.editor:not([movemode]) .pagegap:not(:hover) > *:focus {
    opacity: 100%;
}

.pagegap input {
    width: 100%;
}

.editor[movemode] .pagegap {
    background: rgb(187, 145, 210);
}

.editor[movemode] [ispage]:not([canacceptmove]) .pagegap::before {
    content: "checking... please wait";
}

.editor[movemode] [ispage][canacceptmove] .pagegap::before {
    content: none;
}

.movehere, .dontmovehere {
    display: none;
    width: 100%;
    top: -.15em;
    text-align: left;
}

.pagegap .movehere {
    background: rgb(120, 245, 145);
}

.pagegap .dontmovehere {
    background: rgb(245, 145, 120);
}

[ispage][canacceptmove="true"] > .pagegap .movehere, [ispage][canacceptmove="false"] > .pagegap .dontmovehere {
    display: block;
}