[hide] {
    display: none !important;
}

[invisible] {
    opacity: 0 !important;
}

[wrap] {
    border: 2px solid red !important;
}

@keyFrames temporarilyInvisible {
    0% {opacity: 0;}
    100% {opacity: 0;}
}

[temporarilyInvisible] {
    animation-name: temporarilyInvisible;
    animation-duration: 1s;
}

[hoverUnhide] > * {
    visibility: hidden;
}

[hoverUnhide]:hover > * {
    visibility: visible;
}

.missilelaunch {
    position: relative;
    display: inline;
    margin: 10px;
}

.missilelaunch button.missilelaunchbutton {
    border: 4px outset darkred;
    display: inline;
}

@keyframes missilelaunchtrigger {
    0% {outline: 4px darkred outset;}
    100% {
        transform: translateY(-67%) rotateY(10deg) rotateX(120deg);
        outline: 4px darkred inset;
    }
}

.missilelaunch .trigger {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, .5);
    outline: 4px darkred outset;
}

.disabler .missilelaunch .trigger {
    background-color: rgba(160, 160, 130, .5);
    outline-color: rgb(100, 100, 100);
}

.inline {
    display: inline;
}

.missilelaunch .trigger[opening] {
    animation-name: missilelaunchtrigger;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

.missilelaunch .trigger[closing] {
    animation-name: missilelaunchtrigger;
    animation-duration: .2s;
    animation-direction: reverse;
    animation-fill-mode: backwards;
}

.missilelaunch .trigger[open] {
    transform: translateY(-67%) rotateY(10deg) rotateX(120deg);
    outline: 4px darkred inset;
}

.missilelaunch .trigger[closed] {
}

@keyframes missilelaunchflashing {
    0% {
        background-color: rgb(245, 245, 245);
    }
    
    80% {
        background-color: rgb(255, 230, 230);
    }
    
    90% {
        background-color: rgb(255, 220, 220);
    }
    
    100% {
        background-color: rgb(245, 245, 245);
    }
}

.missilelaunch [flashing] {
    animation: missilelaunchflashing;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.metaTools {
    float: right;
}

[plainWrapper] {
    display: inline;
}

[disguise] {
    background: none;
    border: none;
    display: inline-block;
    position: relative;
}

input[type="button"][disguise] {
    padding: 0;
}

.inline {
    display: inline;
}

* {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

[bigger] {
    font-size: large;
}

[block] {
    display: block;
}

.hoverHide:not(:hover):not(:focus) {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    outline-color: rgba(0,0,0,0);
}

@keyframes highlightFlashing {
    0% {
        background-color: rgb(180, 200, 60);
        border-color: magenta;
    }
    
    50% {
        background-color: palegoldenrod;
        border-color: green;
    }
    
    100% {
        background-color: yellow;
        border-color: blue;
    }
}

.highlight {
    display: inline-block;
    border: 3px ridge;
    border-radius: 5px;
    animation: highlightFlashing;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

label:first-child {
    margin-right: 1ex;
}

label:first-child::after {
    content: ":";
}

.infoInSummary {
    float: right;
    text-align: right;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    outline-color: rgba(0,0,0,0);
}

input.infoInSummary {
    width: 50%;
}

.floatRight {
    float: right;
}

table {
    border-collapse: collapse;
}

.quarterBox {
    width: 25vw;
    height: 25vh;
}

#testDiv {
    position: absolute;
    filter: opacity(0);
    z-index: -1;
}

[to1] {
    position: relative;
    z-index: 1;
}

[toNeg1] {
    position: relative;
    z-index: -1;
}

[boxMe] {
    border: 1px solid black;
}